* {
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
.rect {
  width: 10px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  animation: mooving 2s linear 2s infinite alternate, blinking  2s ease infinite;
}
.spinner {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.spinner-text {
  animation: blinking  2s ease infinite;
  transition: all 2s;
}
@keyframes blinking {
  0%{color: rgba(0, 0, 0, 0); opacity: 0;}
  25%{color: rgba(0, 0, 0, 0.25); opacity: 0.25}
  50%{color: rgba(0, 0, 0, 0.5); opacity: 0.5}
  75%{color: rgba(0, 0, 0, 0.75); opacity: 0.75}
  100%{color: rgba(0, 0, 0, 1); opacity: 1}
}
@keyframes mooving {
  0%{transform: translateX(10px)}
  25%{transform: translateX(30px)}
  50%{transform: translateX(40px)}
  75%{transform: translateX(50px)}
  100%{transform: translateX(70px)}
}