div {
  margin: 16px;
  box-sizing: border-box;
}
input {
  display: inline-block;
}

textarea[name="description"] {
  margin-top: 16px;
  display: block;
  height: 28px;

}
button {
margin-top: 5px;
}
