* {
  box-sizing: border-box;
}

.header {
  height: 50px;
  background-color: yellow;
}
.content {
  height: 500px;
  background-color: pink;
  float: left;
  width: 80%;
}
.sidebar {
  height: 500px;
  background-color: grey;
  width: 20%;
  float: left;
}

.footer {
  height: 50px;
  background-color: green;
  clear: left;
}