* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  font-size: 16px;
  height: 100%;

}
body {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.header {
  color: white;
  background-image: linear-gradient(60deg, red, orange);
  text-align: center;
}
.footer {
  background-color: #e5e5e5;
  padding: 0.5em;
  text-align: center;
  
  
}
.main {
  display: flex;
  flex-direction: column;
 
 
}
.navigation {
  width: 100%;
  padding: 0.5em;
 
}
.nav-list {
  padding: 0;
  list-style: none;
 
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-list-item {
  color: white;
  background-color: #808080;
  margin-bottom: 0.5em;
  white-space: nowrap;
  display: flex;
  
 
}

.nav-list-link {
  color: white;
  padding: 0 0.5em;
  text-decoration: none;
  line-height: 2em;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.section {
  width: 100%;
  padding: 0.5em;
  font-size: 1.25em;
}
.news {
  width: 100%;
  padding: 0.5em;
}
.units-list {
  line-height: 1.75em;
  
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;

}
.section__header {
  text-align: center;
  font-size: 5vw;
}
img {
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
}
@media screen and  (min-width: 600px) {
  .nav-section {
    display: flex;
  }
  .navigation {
    width: 20%;
  }
}
@media screen and (min-width: 1200px) {
.main {
  flex-direction: row; 
}

.news {
  width: 20vw;
}
.section {
  width: 60vw;
}
.navigation {
  width: 20vw;
}
  }

  
