@import'breakpoints';

* {
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #ff7f50;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
  
}
@include middle-width {
  .square {
      background-color: $cm;
    }
}
@include large-width {
  .square {
      background-color: $cl;
    }
}

@include extra-large-width {
  .square {
      background-color: $cxl;
    }
}
@include position {
  
  .container {
      display: flex;
    }
   .square {
     margin: 8px;
   }
}