* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #ff7f50;
  margin-bottom: 16px;
}

.square:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  .square {
    background-color: #8a2be2;
  }
}

@media screen and (min-width: 900px) {
  .square {
    background-color: #a61;
  }
}

@media screen and (min-width: 1200px) {
  .square {
    background-color: #c47;
  }
}

@media screen and (orientation: landscape) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .square {
    margin: 8px;
  }
}
